.u-section-1 .u-sheet-1 {
  min-height: 846px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 779px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 122px 50px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 31px 51px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  text-transform: none;
  margin: 31px auto 0 51px;
  padding: 12px 31px 12px 30px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
  color: rgb(255, 255, 255) !important;
  vertical-align: 0px;
  margin-right: 9px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1rem;
  font-weight: 700;
  background-image: none;
  letter-spacing: 1px;
  margin: 18px auto 0 51px;
  padding: 12px 35px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.2em;
  color: rgb(255, 255, 255) !important;
  width: 19px;
  height: 27px;
  margin-right: 32px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 846px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 820px;
  height: 536px;
  margin: 18px auto 0 -192px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 642px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 1px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 1px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 698px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 307px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 535px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 803px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 506px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 964px;
}

.u-section-2 .u-group-1 {
  width: 507px;
  min-height: 659px;
  height: auto;
  margin: 153px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 20px 40px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 221px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 14px 52px 14px 51px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 625px;
  margin: -735px 0 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 445px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 17px;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 17px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 377px;
}

.u-section-2 .u-container-layout-3 {
  padding: 28px 30px;
}

.u-section-2 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
  padding: 17px;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 19px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 390px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 3px;
}

.u-section-2 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 17px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 430px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 17px;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 25px auto 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-2 .u-group-1 {
    width: 348px;
    min-height: 697px;
    margin-top: 179px;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 563px;
    margin-top: -781px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -735px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 997px;
}

.u-section-3 .u-shape-1 {
  width: 468px;
  left: 202px;
  right: auto;
  background-image: none;
}

.u-section-3 .u-image-1 {
  width: 782px;
  height: 491px;
  margin: 202px auto 0 102px;
}

.u-section-3 .u-shape-2 {
  width: 204px;
  height: 204px;
  background-image: none;
  margin: -560px auto 0 20px;
}

.u-section-3 .u-group-1 {
  width: 556px;
  min-height: 348px;
  margin: 253px 0 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin: 6px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 226px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-3 .u-shape-1 {
    width: 328px;
    left: auto;
    right: 190px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 452px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -521px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-shape-1 {
    width: 285px;
    right: 106px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 339px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -408px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-3 .u-shape-1 {
    width: 254px;
    left: 0;
    right: auto;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -282px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 131px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 66px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 568px;
}

.u-section-4 .u-shape-1 {
  height: 230px;
  margin-top: 150px;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  min-height: 448px;
  width: 965px;
  margin: -320px auto 60px calc(((100% - 1140px) / 2) + 88px);
}

.u-section-4 .u-container-layout-1 {
  padding: 46px 46px 46px 60px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 20px 343px 0 329px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 11px auto 0 334px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  padding: 2px;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 11px 354px 0 auto;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 11px auto 0 334px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-right: 330px;
    margin-left: 316px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 309px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 329px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 309px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 504px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 19px;
    margin-right: 243px;
    margin-left: 229px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 135px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 155px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 135px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 833px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 173px;
    margin-left: 159px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 15px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 71px;
    margin-left: 59px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}